include README.md
include LICENSE
recursive-include FrAncestor *
recursive-include FrAncestor *.py
recursive-include FrAncestor *.log
recursive-include FrAncestor *.sh
recursive-include FrAncestor *.yml
recursive-include FrAncestor/modules *
recursive-include FrAncestor/modules *.py
recursive-include FrAncestor/modules *.txt
recursive-include FrAncestor/modules *.csv
recursive-include FrAncestor/modules *.json
recursive-include FrAncestor/modules *.yaml
recursive-include FrAncestor/modules *.md
recursive-include FrAncestor/modules *.so
recursive-include FrAncestor/modules *.log
recursive-include FrAncestor/modules *.c
recursive-include FrAncestor/QM_run *
recursive-include FrAncestor/QM_run *.c
recursive-include FrAncestor/QM_run *.so
recursive-include FrAncestor/QM_run MP2
recursive-include FrAncestor/QM_run DFTB
recursive-include FrAncestor/QM_run rungms
recursive-include FrAncestor/QM_run *.py
recursive-include FrAncestor/QM_run *.txt
recursive-include FrAncestor/QM_run *.csv
recursive-include FrAncestor/QM_run *.txt
recursive-include FrAncestor/QM_run *.json
recursive-include FrAncestor/QM_run *.yaml
recursive-include FrAncestor/QM_run/lib libgfortran.so.3
recursive-include FrAncestor/QM_run *.log
recursive-include FrAncestor/example/Holo_FrAncestor *
recursive-include FrAncestor/example/Holo_FrAncestor *.sh
recursive-include FrAncestor/example/Holo_FrAncestor *.pdb
recursive-include FrAncestor/example/Apo_FrAncestor_scan *
recursive-include FrAncestor/example/Apo_FrAncestor_scan *.sh
recursive-include FrAncestor/example/Apo_FrAncestor_scan *.log
recursive-include FrAncestor/example/Apo_FrAncestor_scan *.pdb
recursive-include FrAncestor/example/Apo_FrAncestor_scan/ligands *
recursive-include FrAncestor/example/Apo_FrAncestor_scan/ligands *.pdb
recursive-include FrAncestor/example/Apo_FrAncestor_scan/prot *
recursive-include FrAncestor/example/Apo_FrAncestor_scan/prot *.pdb